<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/69197fd746.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/finish.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section>
            <div id="logo">
                <img src="img/asn-logo.png">
            </div>
            <h1>DADOS ENVIADOS<br> COM SUCESSO!!</h1>
            <form action="/" method="GET">
                <button>Voltar pra pagina inicial</button>
            </form>
        </section>
    </body>
</html>