<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/69197fd746.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="media/indexextra.css" media="(min-height: 0px)"/>
        <link rel="stylesheet" href="media/indexsmal.css" media="(min-height: 300px)"/>
        <link rel="stylesheet" href="media/index.css" media="(min-height: 700px)"/>
        <link rel="stylesheet" href="media/indexover.css" media="(min-height:701px)"/>
        <link rel="stylesheet" href="media/indexlarge.css" media="(min-height: 1500px)"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        
    </head>
    <body onload="load()">
        <section id="head">
            <header id="cabecalho">
                <div id="user-icon"><i class="fa-solid fa-user"></i></div>
                <h1 id="user-name">Vendedor 2</h1>
                <div id="garbage-icon" onclick="apagar()"><i class="fa-solid fa-trash-can"></i></div>
                <a href="/login"><div id="out-icon"><i class="fa-solid fa-right-from-bracket"></i></div></a>
            </header>
            <h2>Procure Por:<br>CODIGO DE BARRAS | NOME | CODIGO INTERNO</h2>
            <input type="search" id="search" placeholder="Pesquise aqui">
        </section>
        <section id="body">
            <div id="output-search">
                <table>
                    <thead>
                        <tr>
                            <th style="min-width:30%">Id</th>
                            <th>Produto</th>
                            <th>Valor</th>
                            <th style="width:15%">Qnt</th>
                            <th style="width:20%">Adicionar</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                       <!-- <tr>
                            <td>02</td>
                            <td>Roteador Wireless</td>
                            <td>R$20,00</td>
                            <td><input type="number" value="1"></td>
                            <td><button type="submit"><i class="fa-solid fa-plus"></i></button></td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>Roteador Wireless</td>
                            <td>R$20,00</td>
                            <td><input type="number" value="1"></td>
                            <td><button type="submit"><i class="fa-solid fa-plus"></i></button></td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>Roteador Wireless</td>
                            <td>R$20,00</td>
                            <td><input type="number" value="1"></td>
                            <td><button type="submit"><i class="fa-solid fa-plus"></i></button></td>
                        </tr>-->
                    </tbody>
                </table>
            </div>
            <div id="getSearch">
                <div id="table-wrapp">
                    <table>
                    <thead>
                        <th>Id</th>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Valor</th>
                    </thead>
                    <tbody id="tbody-get">

                    </tbody>
                </table>
                </div>
               
                <div id="save">
                    <div id="save-head">
                        <h1 id="total-inf">Total:</h1>
                        <h1 id="total-out">R$200,00</h1>
                    </div>
                    <form action="end" method="GET">
                        <button type="submit" id="salvar">Salvar</input>
                    </form>

                </div>
            </div>
        </section>
    </body>
    <script src="js/localstorage.js"></script>
    <script src="js/search.js"></script>
    <script src="js/registro.js"></script>
</html>