<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/login.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section>
            <div id="logo">
                <img src="img/asn-logo.png">
            </div>
            <div id="login-wrapp">
                <h1>Login</h1>
                <p>Por favor digite seu usuario e
                    senha nos campos abaixo</p>
                <form action="/" method="GET">
                    <input type="text" class="active" name="usuario" id="usuario" placeholder="Digite seu usuario aqui">
                    <input type="password" name="senha" id="senha" placeholder="Digite sua senha aqui">
                    <button type="submit">Login</button>
                </form>
            </div>
        </section>
            
    </body>
</html>