:root{
    --corPrincipal: #FFB63D;
    --corSecundaria: #00598A;
    --secondShadow: #001825;
    --corGreen: #55896A;
    --transparentC: #1F1D1D;
}

body{
    font-family: 'Roboto', sans-serif;
}

section{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    text-align: center;
    background-color: var(--corSecundaria);
        font-family: 'Roboto', sans-serif;
}

div{
    position: relative;
    float: left;
    width: 100%;
    height: 50%;
    background-color: transparent;
}

div img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
}

h1{
    position: relative;
    float: left;
    width: 100%;
    background-color: transparent;
    font-size: 35px;
    color: white;
    margin-bottom: 8%;
}

button{
    position: relative;
    float: left;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5%;
    background-color: var(--corPrincipal);
    font-size: 35px;
    border: none;
    border-radius: 15px;
    color: white;
}